@charset "utf-8";
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
//引入其他文件中的scss文件，记住要在fekit.config文件中输出、解析一下
@import "./core/swiper-3.3.1.min.css";
@import "../lib/core/reset";
@import "./core/common";
@import "./modla/index";
@import "./modla/guide";
@import "./modla/find";
@import "./modla/home";
@import "./modla/my";
@import "./modla/detail";
@import "./modla/register";
@import "../lib/widget/yo-dialog";
@import "../lib/element/yo-loading";
@import "../lib/fragment/yo-list";
@import "../lib/element/yo-input";

//下面这两个样式，是定义SPA中的scroll中的滚动的
spa-app{
	position:absolute;
	overflow:hidden;
}
spa-view{
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background:#eceef0!important;
	@include flexbox(flex);
	@include flex-direction(column);
}

